# 환경변수 (절대 GitHub에 올리지 말 것!)
.env
.env.local
.env.*.local

# 빌드 결과물
dist/
dist-ssr/

# 의존성
node_modules/

# 에디터
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# 로그
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
